<%- include('./partials/head.ejs') %>

<html>
  <body>
    <div class="login-container">
      <a href="/"><img src="/images/logo2.svg" alt="" class="logo" /></a>

      <form class="form-login">
        <div class="form-heading">
          <h3 class="heading-third">Добро пожаловать!</h3>
          <p>
            Мы по вам скучали! <br />
            Пожалуйста введите свои данные.
          </p>
        </div>
        <div class="form-box">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Введите ваш email"
          />

          <label for="password">Пароль</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Введите ваш пароль"
          />
        </div>

        <button type="submit" class="btn btn-fill">Войти</button>
        <p>Нет аккаунта? <a href="/register">Зарегистрироваться</a></p>
      </form>
      <p class="login_or">ИЛИ</p>
      <form action="/api/users/auth/google" method="GET">
        <button type="submit" class="btn btn__login_google">
          <svg
            width="22"
            height="23"
            viewBox="0 0 22 23"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21.8982 9.49811L21.7719 9.00708H11.334V13.4404H17.5771C17.2288 14.7932 16.4368 15.9901 15.3278 16.8396C14.2189 17.6891 12.8571 18.1421 11.4603 18.1262C9.63759 18.1112 7.88635 17.4156 6.54997 16.1761C5.89305 15.5287 5.37028 14.7579 5.01158 13.9081C4.65288 13.0584 4.46531 12.1462 4.4596 11.2237C4.4808 9.37114 5.21427 7.59774 6.5079 6.27136C7.82541 5.02325 9.5753 4.33432 11.3901 4.34933C12.9445 4.3613 14.441 4.93996 15.599 5.97675L18.6855 2.80609C16.6512 0.991185 14.0181 -0.00810392 11.2919 0.000201507C9.79219 -0.00870719 8.30549 0.277858 6.91654 0.843554C5.52759 1.40924 4.26367 2.24296 3.19695 3.29712C1.16786 5.40474 0.0238682 8.20995 0.00036885 11.1355C-0.0231164 14.061 1.0757 16.8842 3.07069 19.0241C4.17598 20.1253 5.48967 20.9952 6.93497 21.5829C8.38027 22.1708 9.92814 22.4645 11.4884 22.4473C12.9031 22.4578 14.3053 22.181 15.6101 21.6336C16.9147 21.0862 18.0945 20.2796 19.0783 19.2626C21.0086 17.1401 22.0528 14.3589 21.9964 11.4903C22.0116 10.8247 21.9787 10.159 21.8982 9.49811Z"
              fill="white"
            /></svg
          >Продолжить с Google
        </button>
      </form>

      <form action="/api/users/auth/github" method="GET">
        <button type="submit" class="btn btn__login_github">
          <svg
            width="27"
            height="27"
            viewBox="0 0 27 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.5 0C20.9561 0 27 6.19641 27 13.8415C27 19.9556 23.1363 25.1423 17.7755 26.9743C17.091 27.1106 16.848 26.6784 16.848 26.3098C16.848 25.8535 16.8642 24.3632 16.8642 22.511C16.8642 21.2204 16.4322 20.3781 15.9476 19.9488C18.954 19.6059 22.113 18.4353 22.113 13.119C22.113 11.607 21.5892 10.3732 20.7225 9.40386C20.8629 9.05421 21.3259 7.64634 20.5902 5.74014C20.5902 5.74014 19.4589 5.36925 16.8817 7.15935C15.8031 6.8529 14.6475 6.69871 13.5 6.69331C12.3525 6.69871 11.1983 6.8529 10.121 7.15935C7.5411 5.36925 6.4071 5.74014 6.4071 5.74014C5.67405 7.64634 6.1371 9.05421 6.27615 9.40386C5.4135 10.3732 4.88565 11.607 4.88565 13.119C4.88565 18.4218 8.0379 19.6103 11.0363 19.96C10.6502 20.3056 10.3005 20.9152 10.179 21.8103C9.4095 22.164 7.4547 22.7761 6.2505 20.6607C6.2505 20.6607 5.53635 19.3307 4.18095 19.2335C4.18095 19.2335 2.8647 19.2161 4.08915 20.0747C4.08915 20.0747 4.9734 20.4999 5.58765 22.0997C5.58765 22.0997 6.3801 24.5701 10.1358 23.7331C10.1426 24.8901 10.1547 25.9804 10.1547 26.3098C10.1547 26.6757 9.9063 27.1039 9.23265 26.9756C3.86775 25.1464 0 19.957 0 13.8415C0 6.19641 6.0453 0 13.5 0Z"
              fill="white"
            /></svg
          >Продолжить с GitHub
        </button>
      </form>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
      integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/login.js"></script>
  </body>
</html>
