.login-container {
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
  /* background-color: #88ccfe; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.logo-login {
}
.form-login {
  width: 25%;
  background-color: #fff;
  border-radius: 6px;
  padding: 40px;
}
.form-heading {
  text-align: center;
}
.form-heading .heading-third {
  margin-bottom: 20px;
}
.form-heading p {
  margin-bottom: 20px;
}
.form-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-box label {
  font-weight: 500;
}
.form-box input,
.form-box select,
.form-box textarea {
  border-radius: 6px;
  padding: 13px 9px;
  border: none;
  background-color: #e6ecf8;
}
.form-login button {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding: 13px 9px;
  width: 100%;
  margin-top: 30px;
}
.form-login p {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  color: #7f818f;
  line-height: 1.3;
}
.form-login p a {
  font-weight: 600;
  color: #0d55ff;
}
.login_or {
  font-weight: 700;
  color: #25273b !important;
}
.btn__login_google,
.btn__login_github {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #fff;
  transition: all 0.3s;
}
.btn__login_google {
  background-color: #ed2020;
}
.btn__login_github {
  background-color: #131111;
}
.btn__login_google:hover {
  background-color: #c72222;
}
.btn__login_github:hover {
  background-color: #221f1f;
}
